<!-- ###CONTENT### start --><?xml version="1.0"?>  
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">  
<ShortName>###SEARCHNAME###</ShortName>  
<Description>###SEARCHDESCRIPTION###</Description>  
<Image height="16" width="16" type="image/x-icon">###SEARCHICON###</Image>  
<Url type="text/html" method="get" template="###SEARCHURL###"/>  
</OpenSearchDescription>
<!-- ###CONTENT### end -->  